@font-face {
    font-family: "Futura PT Cond Book";
    src: url("/fonts/FuturaPTCond-Book.eot");
    src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"),
        url("/fonts/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaPTCond-Book.woff2") format("woff2"),
        url("/fonts/FuturaPTCond-Book.woff") format("woff"),
        url("/fonts/FuturaPTCond-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT Demi";
    src: url("/fonts/FuturaPT-Demi.eot");
    src: local("Futura PT Demi"), local("FuturaPT-Demi"),
        url("/fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"),
        url("/fonts/FuturaPT-Demi.woff2") format("woff2"),
        url("/fonts/FuturaPT-Demi.woff") format("woff"),
        url("/fonts/FuturaPT-Demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@mixin tablets {
    @media (min-width: 768px) { @content; }
}

@mixin desktops {
    @media (min-width: 1440px) { @content; }
}

@mixin tablet-grid {
    width: 640px;
    margin: 0 auto;
}

@mixin desktop-grid {
    width: 1200px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: "Futura PT", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

// common
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    text-transform: none;
}

.img-fluid {
    width: 100%;
}

.social-icon {
    border-radius: 50%;
    @include desktops {
        &:hover {
            background: #FFFFFF;
            path {
                fill: #FF1E1E;
            } 
        }
    }
}
// end common

// typo
h1 {
    font-size: 2rem;
    line-height: 2.375rem;
    font-weight: 600;
    @include tablets {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    @include desktops {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
    @include tablets {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @include desktops {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    @include tablets {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    @include desktops {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h4.light {
    font-weight: 400;
}

p.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}
// end typo

// button
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;

    &:focus,
    &:active {
        background: #FF1E1E;
        box-shadow: 0px 2px 24px rgba(255, 30, 30, 0.5);
    }

    @include desktops {
        &:hover {
            background: #FF1E1E;
            box-shadow: 0px 2px 24px rgba(255, 30, 30, 0.5);
        }
    }

    &--primary {
        background: #EC3F3F;
    }

    &--secondary {
        background: rgba(236, 63, 63, 0.1);
        border: 1px solid rgba(236, 63, 63, 0.8);
    }

    &--outline {
        height: 3rem;
        background: rgba(236, 63, 63, 0.15);
        border: 1px solid rgba(236, 63, 63, 0.8);
    }
}
// end button

// header
.header {
    background: #000000;
    padding: 0 1rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;

        @include tablets {
            @include tablet-grid;
            height: 4.5rem;
        }

        @include desktops {
            @include desktop-grid;
        }
    }

    &__logo {
        width: 6.625rem;
        @include tablets {
            width: unset;
        }
    }

    &__btn {
        width: 13.063rem;
        @include tablets {
            width: 13.875rem;
        }
    }
}
// end header

// main
// --hero
.hero {
    background-image: url("../img/img-hero-s.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include tablets {
        padding: 0;
        background-image: url("../img/img-hero-m.png");
    }

    @include desktops {
        background-image: url("../img/img-hero-l.png");
    }

    &__container {
        padding: 3.5rem 1rem 4.563rem;

        @include tablets {
            @include tablet-grid;
            padding: 3.75rem 0 4.75rem;
        }

        @include desktops {
            @include desktop-grid;
            padding: 6.5rem 0 6.25rem;
        }
    }

    &__content {
        width: 92%;
        @include tablets {
            width: 61%;
        }

        @include desktops {
            width: 41%;
        }
    }

    &__text {
        margin-top: 0.375rem;
        @include tablets {
            margin-top: 1rem;
        }

        @include desktops {
            margin-top: 1.5rem;
        }
    }

    &__btn {
        width: 11.625rem;
        height: 3rem;
        margin-top: 2rem;
        @include tablets {
            width: 12.5rem;
            height: 3.5rem;
        }

        @include desktops {
            width: 12.75rem;
            margin-top: 2.5rem;
        }
    }
}
// --end hero

// --slider
.slider {
    margin-top: 1rem;
    @include tablets {
        margin-top: 4rem;
    }

    @include desktops {
        margin-top: 4.5rem;
    }
}

.carousel.swiper {
    padding: 0 1rem;
}

.carousel {
    padding: 0 1rem;
        @include tablets {
            @include tablet-grid;
        }

        @include desktops {
            @include desktop-grid;
        }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        gap: 0.75rem;
        @include tablets {
            gap: 1.5rem;
        }
    }

    &__btn {
        &--next.swiper-button-next,
        &--prev.swiper-button-prev {
            position: relative;
            top: unset;
            left: unset;
            bottom: unset;
            right: unset;
            margin-top: 0;
            color: #EC3F3F;
            &::after {
                font-size: 1.75rem;
                @include tablets {
                    font-size: 2rem;
                }
            }
        }

        &--next.swiper-button-next.swiper-button-disabled,
        &--prev.swiper-button-prev.swiper-button-disabled {
            color: #FFFFFF;
            opacity: 0.2;
        }
    }

    &__pagination.swiper-pagination-progressbar {
        position: relative;
        background: rgba(255, 255, 255, 0.3);
        margin-top: 1rem;
        @include tablets {
            margin-top: 1.5rem;
        }

        .swiper-pagination-progressbar-fill {
            background: #EC3F3F;
        }
    }

    &__wrapper {
        margin-top: 1.5rem;
        @include desktops {
            margin-top: 2rem;
        }
    }

    &__slide.swiper-slide {
        width: 13.5rem;
        height: 17.5rem;
        @include tablets {
            width: 16rem;
            height: 22.5rem;
        }

        @include desktops {
            width: 17.625rem;
            height: 25rem;
        }
    }

    &__slide-info {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        box-sizing: border-box;
        cursor: pointer;
        p {
            display: none;
        }

        &:active {
            justify-content: space-between;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
            p {
                display: unset;
            }
        }

        @include desktops {
            &:hover {
                justify-content: space-between;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
                p {
                    display: unset;
                }
            }
        }
    }
}
// --end slider

// --backstage
.backstage {
    margin-top: 4rem;

    @include desktops {
        margin-top: 4.5rem;
    }

    &__container {
        padding: 0 1rem;

        @include tablets {
            @include tablet-grid;
        }

        @include desktops {
            @include desktop-grid;
        }
    }

    &__inner-wrapper {
        margin-top: 1.5rem;
        position: relative;
        @include tablets {
            display: grid;
            grid-template-columns: 312px 148px 148px;
            grid-template-rows: 148px 148px;
            gap: 1rem;
            margin: 1.5rem auto 0;
            padding: 0;
        }

        @include desktops {
            grid-template-columns: 588px 282px 282px;
            grid-template-rows: 282px 282px;
            gap: 1.5rem;
            margin-top: 2.5rem;
        }
    }

    picture {
        display: flex;
        margin-top: 1rem;
        &:first-of-type {
            margin-top: 0;
        }

        &:nth-of-type(n+4) {
            display: none;
        }

        @include tablets {
            margin-top: 0;
            &:first-of-type {
                grid-row: 1 / 3;
            }

            &:nth-of-type(n+4) {
                display: unset;
            }
        }
    }

    &__loader {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgb(0%, 0%, 0%, 0.4);

        &--active {
            display: flex;
        }
    }
    
    &__loader-icon {
        animation: 3s linear infinite rotate;
    }

    @keyframes rotate {
        from {
            transform: rotateY(0deg);
        }
      
        to {
            transform: rotateY(360deg);
        }
    }

    &__btn {
        margin-top: 1.5rem;
        @include desktops {
            margin-top: 2rem; 
        }
    }
}
// --end backstage

// --map
.map {
    margin-top: 3rem;

    @include tablets {
        margin-top: 4rem;
    }

    @include desktops {
        margin-top: 4.5rem;
    }

    &__title {
        padding: 0 1rem;

        @include tablets {
            @include tablet-grid;
            padding: 0;
        }

        @include desktops {
            @include desktop-grid;
        }
    }

    &__inner-wrapper {
        margin-top: 1.5rem;
        @include tablets {
            margin-top: 1.5rem;
        }

        @include desktops {
            @include desktop-grid;
            margin: 2.5rem auto 6rem;
        }
    }

    picture {
        display: flex;
    }
}
// --end map
// end main

// footer
.footer {
    background: #343338;
    padding: 1.625rem 1rem 1.5rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        @include tablets {
            @include tablet-grid;
        }

        @include desktops {
            @include desktop-grid;
        }
    }

    &__logo {
        @include tablets {
            order: 1;
        }
    }

    &__socials {
        display: flex;
        @include tablets {
            order: 3;
        }
    }

    &__link {
        margin-left: 0.75rem;
        &:first-of-type {
            margin-left: 0;
        }
        @include tablets {
            margin-left: 1rem;
        }
    }

    &__policy {
        margin-top: 1.625rem;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #FFFFFF;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #FFFFFF;
        opacity: 0.7;
        @include tablets {
            text-align: center;
            margin-top: 0;
            order: 2;
        }
        
        @include desktops {
            &:hover {
                opacity: unset;
            }
        }
    }

    br {
        display: none;
        @include tablets {
            display: unset;
        }
    }
}
// end footer